.about {
  background-color: $color-white;
}

.about__title {
  margin-top: 0;
  margin-bottom: 30px;

  text-align: center;
}

.about__text {
  display: block;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;

  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: $color-gray-600;
}
