.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $mini-tablet) {
    grid-template-columns: 1fr 2fr;
  }
}

.navigation__button-logo {
  margin-right: 10px;
}

.navigation__menu-list {
  justify-self: center;

  margin-top: 0;
  margin-bottom: 0;
}

.navigation__contact-list {
  justify-self: right;

  margin: 0;
}
